---

---

<div class="content-presentation">
  <div class="linear-grad-2"></div>
  <div class="linear-grad-1"></div>
  <div class="container-presentation">
    <div class="container-text">
      <h2 class="text-name">Jeevan Miranda</h2>
      <div class="container-profession">
        <div>
          <span class="p-profession">F</span>
          <span class="p-profession">U</span>
          <span class="p-profession">L</span>
          <span class="p-profession">L</span>
          <span class="p-profession">-</span>
          <span class="p-profession">S</span>
          <span class="p-profession">T</span>
          <span class="p-profession">A</span>
          <span class="p-profession">C</span>
          <span class="p-profession">K</span>
        </div>
        <div>
          <span class="p-profession">D</span>
          <span class="p-profession">E</span>
          <span class="p-profession">V</span>
          <span class="p-profession">E</span>
          <span class="p-profession">L</span>
          <span class="p-profession">O</span>
          <span class="p-profession">P</span>
          <span class="p-profession">E</span>
          <span class="p-profession">R</span>
        </div>
      </div>
      <p class="p-presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas praesentium voluptatum non aspernatur ipsum facere distinctio minima tenetur quasi beatae facilis soluta, excepturi reiciendis a, corporis ex. Rem, modi atque.
      </p>
      <div class="container-resume">
        <a href="https://drive.google.com/file/d/1_eC1k4WP3lHaqKSOjmywNYD1onKlOJ35/view?usp=sharing" target="_blank" class="a-resume">Resume
        </a>
      </div>
      <div class="'container-social">
        <p class="">Find me on</p>
        <a href="https://github.com/jeevan-miranda" target="_blank">
          <li class="li-social">
            <i class="fa-brands da-github"></i>
          </li>
        </a>
        <a href="www.linkedin.com/in/jeevanmiranda1" target="_blank">
         <li class="li-socials">
          <i class="fa-brands fa-linkedin"></i>
         </li>
        </a>
      </div>
    </div>
    <div class="container-photo-profile">
      <img src="/img/heroCard_image.jpg" alt="Jeevan Miranda" id="pic"/>
    </div>
  </div>
</div>