---
import AboutMe from "./aboutMe/AboutMe.astro";
import HeroCard from "./heroCard/HeroCard.astro";
import Projects from "./projects/Projects.astro";

---

<main>
  <div>
    <HeroCard />
    <AboutMe />
    <Projects />
  </div>
</main>