---


---

<header>
  <h1>Jeevan Miranda</h1>
  <nav class="hidden md:flex md:space-x-6 flex-col md:flex-row items-center md:items-start">
    <ul>
      <li>About Me</li>
      <li>Projects</li>
      <li>Resume</li>
    </ul>
  </nav>
</header>