---


---

<section class="section-about">
  <div class="linear-grad-1"></div>
  <div class="container-about">
    <div class="container-text-about">
      <h2 class="title-about" id="AboutMe">About Me</h1>
      <p>
        I am a Full Stack Software Developer with a background in customer relations. Recently, I completed a 15-week web development Bootcamp at Dev Academy, gaining hands-on experience with various modern technologies and Agile methodology. Through my studies I've discovered my interest in problem solving and building highly functional applications. In my time at Dev Academy, I was able to work within a team of five as the back-end lead to achieve an MVP product for a social media app. This experience helped solidify my  knowledge of back-end functionality and taught me how to work collaboratively to maintain a consistent design principle with both our front-end and back-end teams. 
        <br/>
        <br/>
        My technical skills span a wide range, including proficiency in HTML, CSS, JavaScript, TypeScript, and React for front-end development, and Node.js, Express, SQLite3, and Knex for back-end development. I am well-versed in using Tailwind CSS for styling and have experience with tools such as Git, Agile practices, Test-Driven Development (TDD), and pair programming. Every day I dedicate myself to practicing and mastering my existing skills, while learning and applying new technologies. Currently, I'm exploring new opportunities in the software industry, and am eager to apply my skills to be an asset in whichever role I take on.
      </p>
    </div>
    <div class="container-svg-about">
      <div class="container-svg">
        <lottie-player 
        src="/lottie-anim-dev.json" 
        background="transparent"  speed="1"  style="width: 300px; height: 300px; position: relative" loop autoplay>
        </lottie-player>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<style>
  .linear-grad-1{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, rgba(187, 114, 255, 0.5));
    z-index:0;
  }
  
  .section-about {
    position: relative;
    background-color: #111111;
    padding-bottom: 20px;
  }

   .title-about {
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
   }
  .container-about {
    position: relative;
    width: 90%;
    display: flex;
    margin: 0 auto;
    max-width: 1355px;
  }

  .container-text-about p {
    font-size: 17px;
    color: #f6f6f9;
    text-align: left;
    letter-spacing: 1px;
  }

  .container-svg-about {
    position: relative;
    width: 50%;
  }

  .container-svg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }

  /* responsiveness */
  @media (max-width: 900px) {
    .container-about {
      flex-direction: column;
    }
    .container-svg-about {
      width: 100%;
    }
    .container-svg {
      justify-content: start;
      align-items: end;
      padding: 0;
    }
    .container-text-about {
      width: 100%;
      padding: 10px 0;
    }
  }
</style>